.git
.gradle
.idea
**/build
build-cache
docs.local
*.iml
*.log
.env
.env*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.pem
**/.terraform
infrastructure/bootstrap
infrastructure/environments
infrastructure/modules
infrastructure/README.md
override.tf
override.tf.json
*_override.tf
*_override.tf.json
credentials
credentials.*
*.credentials
