.git
.gradle
.idea
**/build
build-cache
docs.local
*.iml
*.log
.env
.env*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.pem
**/.terraform
deployment/terraform
deployment/scripts
deployment/README.md
deployment/RUNBOOK.md
override.tf
override.tf.json
*_override.tf
*_override.tf.json
credentials
credentials.*
*.credentials
